P01/combined_data_with_kinematics.pkl
P01/phases_df.pkl
P02/combined_data_with_kinematics.pkl
P02/phases_df.pkl
P04/combined_data_with_kinematics.pkl
P04/phases_df.pkl
P05/combined_data_with_kinematics.pkl
P05/phases_df.pkl
P06/combined_data_with_kinematics.pkl
P06/murphy_measures_df.pkl
P07/combined_data_with_kinematics.pkl
P07/phases_df.pkl
P07/murphy_measures_df.pkl
P01/murphy_measures_df.pkl
P02/murphy_measures_df.pkl
P08/combined_data_with_kinematics.pkl
P08/phases_df.pkl
P09/combined_data_with_kinematics.pkl
P09/phases_df.pkl
P10/combined_data_with_kinematics.pkl
P10/phases_df.pkl
P11/combined_data_with_kinematics.pkl
P11/phases_df.pkl
P12/combined_data_with_kinematics.pkl
P12/phases_df.pkl
P13/combined_data_with_kinematics.pkl
P13/phases_df.pkl
P14/combined_data_with_kinematics.pkl
P14/phases_df.pkl
all_P/combined_murphy_measures.pkl
P04/murphy_measures_df.pkl
P05/murphy_measures_df.pkl
P08/murphy_measures_df.pkl
P09/murphy_measures_df.pkl
P10/murphy_measures_df.pkl
P11/murphy_measures_df.pkl
P12/murphy_measures_df.pkl
P13/murphy_measures_df.pkl
P14/murphy_measures_df.pkl
P15/combined_data_with_kinematics.pkl
P15/murphy_measures_df.pkl
P15/phases_df.pkl
P17/combined_data_with_kinematics.pkl
P17/murphy_measures_df.pkl
P17/phases_df.pkl
P19/combined_data_with_kinematics.pkl
P19/murphy_measures_df.pkl
P19/phases_df.pkl
P23/combined_data_with_kinematics.pkl
P23/murphy_measures_df.pkl
P23/phases_df.pkl
P25/combined_data_with_kinematics.pkl
P25/murphy_measures_df.pkl
P25/phases_df.pkl
P27/combined_data_with_kinematics.pkl
P27/murphy_measures_df.pkl
P27/phases_df.pkl
P28/combined_data_with_kinematics.pkl
P28/murphy_measures_df.pkl
P28/phases_df.pkl
P30/combined_data_with_kinematics.pkl
P30/murphy_measures_df.pkl
P30/phases_df.pkl
P31/combined_data_with_kinematics.pkl
P31/murphy_measures_df.pkl
P31/phases_df.pkl

my_model.h5

overall_patients/overall_measures.csv

3D_alignment.pkl
my_list.pkl
overall_dtw.pkl
clinical_scores/
clinical_scores_import.ipynb

data/
Old/
Participants/
.pyc